@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700;1,800;1,900&family=Lato:wght@400;700;900&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('./Assets/background.png');
}

.nav {
    transition: opacity 0.3s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
  }
  
  .fadeOut {
    opacity: 0;
  }
  
  body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(235, 235, 235);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    
    border-radius: 20px;       
    border: 3px solid rgb(255, 255, 255);  
  }
  @layer utilities {
    .group:hover .group-hover\\:w-0 {
      width: 0;
    }
  }